<Configuration>
    <Appenders>
        <RollingFile name="FileLogger"
                     fileName="logs/app-${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="logs/app-%d{yyyy-MM-dd_HH-mm-ss}-%i.log.gz">
            <PatternLayout pattern="%d [%t] %-5level %logger - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Set logging level for your package -->
        <Logger name="demo.mowed" level="warn" additivity="false">
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
